/* Pig Latin Translator styles */

html,body {
  background-color: #DDF;
  padding:1em;
  max-width: 800px;
  min-width: 540px;
}

form {
    padding: 1em;
    border: solid black 1px;
    max-width: 320px;
    font-size: large;
    text-align: left;
}

input {
  margin: .5em;
  font-size: large;
  width: 10em;
}

div {
  margin: .5em;
  font-size: larger;
}

button {
    padding: .5em;
    font-size: large;
    margin: 1em 1em 1em 6em;
}

